




/* contenedores MAIN */



.card__tittle{
  padding-top: 390px;
  padding-left: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #eee;
  letter-spacing: 12px;

}

.card__panaderia{
  background-image:url(./assets/fotopanaderiamainbody.jpg);
  background-repeat: round;
  width: 500px;
  height: 500px;
  margin-top: 10px ;

}

.card__pasteleria{
  background-image:url(./assets/fotopasteleriamainbody.jpg);
  background-repeat: round;
  width: 500px;
  height: 500px;
  margin-top: 10px ;

}

.card__banqueteria{
  background-image:url(./assets/fotobanqueteria-mainbody\ copy.jpg);
  background-repeat: round;
  width: 500px;
  height: 500px;
  margin-top: 10px ;

}


/* SLIDESHOW MAIN*/


/* instagram section*/


/*display: flex;

/* FOOTER*/



